:root {
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font-family-sans-serif);
    line-height: 1.15;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #515151;
    text-align: left;
    background-color: #e9edf4;
}

a {
    color: #3f84fc;
    text-decoration: none;
}

a:hover {
    color: #0458eb;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    background-color: #e87f29; 
    padding: 10px; 
    border-radius: 10px; 
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.dashboard-app {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-top: 84px;
}

.dashboard-content {
    flex-grow: 2;
    padding: 25px;
}

.dashboard-nav {
    min-width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #e87f29;
}

.dashboard-compact .dashboard-nav {
    display: none;
}

.dashboard-nav header {
    min-height: 84px;
    padding: 8px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-nav a {
    color: #fff;
}

.dashboard-nav-item {
    min-height: 56px;
    padding: 8px 20px 8px 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
}

.dashboard-nav-item i {
    width: 36px;
    font-size: 19px;
    margin-left: -40px;
}

.dashboard-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
}

.active {
    background: rgba(0, 0, 0, 0.1);
}

.menu-toggle {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e87f29;
}

.menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
    text-decoration: none;
    color: #e87f29;
}

.menu-toggle i {
    font-size: 20px;
}

.dashboard-toolbar {
    min-height: 60px;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    padding: 8px 27px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.custom-login-btn {
    background-color: #e87f29;
    border-color: #e87f29;
}

.custom-login-btn:focus {
    outline: solid #FF5733;
}

.custom-login-btn:hover {
    background-color: #E6B800;
    border-color: #E6B800;
}

.modal-footer {
    text-align: center;
}

.custom-login-btn {
    background-color: #e87f29; /* Color de fondo */
    border-color: #e87f29; /* Color del borde */
}

.custom-login-btn:focus {
    outline: 2px solid #FF5733; /* Estilo, grosor y color de la outline cuando está enfocado */
    outline-offset: 2px; /* Opcional: distancia de la outline respecto al borde */
}

.custom-login-btn:hover {
    background-color: #E6B800; /* Color de fondo más oscuro al pasar el ratón */
    border-color: #E6B800; /* Color del borde más oscuro al pasar el ratón */
}

.petCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e87f29;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    max-width: 400px;
    margin-left: 400px;
    margin-right: auto;
}
  
  .petCardContainer img {
    width: 100%;
    height: auto;
  }
  
  .petCardContainer h2,
  .petCardContainer p {
    padding: 2px;
  }
  
  .petCardContainer .actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .petCardContainer .like,
  .petCardContainer .dislike {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .petCardContainer .like {
    background-color: #4caf50;
  }
  
  .petCardContainer .dislike {
    background-color: #f44336;
  }
  /* Estilos para el modal */
#petModal {
    display: none; /* Oculta el modal por defecto */
    position: fixed; /* Fija el modal en la ventana del navegador */
    z-index: 1; /* Sitúa el modal por encima de todo lo demás */
    left: 0;
    top: 0;
    width: 40%; /* Ancho completo */
    height: 100%; /* Altura completa */
    overflow: auto; /* Habilita el scroll si es necesario */
  
    margin-left: 1000px;
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde la parte superior y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 80% de ancho */
  }
  
  /* Estilos para el botón de cierre del modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 

.explore {
    background: #232321;
  }
  
  h1.explore {
    color: #fff;
    padding: 10px 0;
  }
  
  .card.explore {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
  }
  
  .card.explore:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
  
  .card.explore a {
    color: initial;
  }
  
  .card.explore a:hover {
    text-decoration: initial;
  }
  
  .card.explore .text-muted i {
    margin: 0 10px;
  }

@media (min-width: 992px) {
    .dashboard-app {
        margin-left: 238px;
    }

    .dashboard-compact .dashboard-app {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .dashboard-content {
        padding: 15px 0px;
    }
}

@media (max-width: 992px) {
    .dashboard-nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1070;
    }

    .dashboard-nav.mobile-show {
        display: block;
    }
}

@media (max-width: 992px) {
    .dashboard-nav header .menu-toggle {
        display: flex;
    }
}

@media (min-width: 992px) {
    .dashboard-toolbar {
        left: 200px;
    }

    .dashboard-compact .dashboard-toolbar {
        left: 0;
    }
}
